stages:
  - build

before_script:
  - cmake --version
  - conan --version

android:
  image: registry.gitlab.com/ssrobins/docker-android-build
  stage: build
  script:
    - lscpu
    - cat /proc/meminfo | grep MemTotal
    - java -version
    - sh ./build_android.sh
  after_script:
    - cd build_android
    - mkdir _package
    - find . -name \*.apk -exec mv {} _package/ \;
  artifacts:
    paths:
      - build_android/_package/*.apk

ios:
  stage: build
  script:
    - sh ./build_ios.sh
  tags:
    - ios

ios-sim:
  stage: build
  script:
    - sh ./build_ios_sim.sh
  tags:
    - ios

linux:
  image: registry.gitlab.com/ssrobins/docker-linux-build
  stage: build
  script:
    - lscpu
    - cat /proc/meminfo | grep MemTotal
    - gcc --version
    - sh ./build_linux.sh
  artifacts:
    paths:
      - build_linux/_package/*.tar.gz

mac:
  stage: build
  script:
    - sh ./build_mac.sh
  artifacts:
    paths:
      - build_mac/_package/*.zip
  tags:
    - mac

windows:
  stage: build
  script:
    - build_windows.bat
  artifacts:
    paths:
      - build_windows/_package/*.zip
  tags:
    - windows
