variables:
  package_user: "stever"
  package_repo: "conan"

stages:
  - build

before_script:
  - cmake --version
  - conan --version

android:
  image: registry.gitlab.com/ssrobins/docker-android-build
  stage: build
  before_script:
    - lscpu
    - cat /proc/meminfo | grep MemTotal
    - export ANDROID_HOME=/root
    - conan remote add ${package_repo} https://api.bintray.com/conan/${package_user}/${package_repo}
  script:
    - sh ./build_android.sh
  after_script:
    - cd build_android
    - mkdir _package
    - find . -name \*.apk -exec mv {} _package/ \;
  artifacts:
    paths:
      - build_android/_package/*.apk

ios:
  stage: build
  script:
    - sh ./build_ios.sh
  tags:
    - ios
  allow_failure: true

ios-sim:
  stage: build
  script:
    - sh ./build_ios_sim.sh
  tags:
    - ios
  allow_failure: true

linux:
  image: registry.gitlab.com/ssrobins/docker-linux-build
  stage: build
  before_script:
    - lscpu
    - cat /proc/meminfo | grep MemTotal
    - conan remote add ${package_repo} https://api.bintray.com/conan/${package_user}/${package_repo}
    - gcc --version
  script:
    - sh ./build_linux.sh
  artifacts:
    paths:
      - build_linux/_package/*.tar.gz

mac:
  stage: build
  script:
    - sh ./build_mac.sh
  artifacts:
    paths:
      - build_mac/_package/*.zip
  tags:
    - mac
  allow_failure: true

windows:
  stage: build
  script:
    - build_windows.bat
  artifacts:
    paths:
      - build_windows/_package/*.zip
  tags:
    - windows
  allow_failure: true
