stages:
  - build

#android:
#  image: registry.gitlab.com/ssrobins/docker-android-build
#  stage: build
#  script:
#    # Environment
#    - lscpu
#    - cat /proc/meminfo | grep MemTotal
#    - java -version
#    # Build
#    - export ANDROID_HOME=/root
#    - mkdir _build
#    - cd _build
#    - cmake -DCMAKE_SYSTEM_NAME=Android -DCMAKE_SYSTEM_VERSION=${android_sdk_version} -DCMAKE_ANDROID_ARCH_ABI=armeabi-v7a -DCMAKE_ANDROID_NDK=$ANDROID_HOME/android-ndk-${android_ndk_version} -DCMAKE_ANDROID_NDK_TOOLCHAIN_VERSION=clang -DCMAKE_ANDROID_STL_TYPE=c++_static -DCMAKE_BUILD_TYPE=Release ..
#    - make
#    - mkdir _package
#    - find . -name \*.apk -exec mv {} _package/ \;
#  artifacts:
#    paths:
#      - _build/_package/*.apk

#ios:
#  stage: build
#  script:
#    - mkdir _build
#    - cd _build
#    - cmake -G Xcode -DCMAKE_TOOLCHAIN_FILE=../ios.toolchain.cmake -DENABLE_BITCODE=FALSE ..
#    - cmake --build . --config Release
#  tags:
#    - ios
#  allow_failure: true

#ios-sim:
#  stage: build
#  script:
#    - mkdir _build
#    - cd _build
#    - cmake -G Xcode -DCMAKE_TOOLCHAIN_FILE=../ios.toolchain.cmake -DENABLE_BITCODE=FALSE -DIOS_PLATFORM=SIMULATOR64 ..
#    - cmake --build . --config Release
#  tags:
#    - ios
#  allow_failure: true

linux:
  image: registry.gitlab.com/ssrobins/docker-linux-build
  stage: build
  script:
    # Environment
    - lscpu
    - cat /proc/meminfo | grep MemTotal
    - gcc --version
    # Build
    - mkdir _build
    - cd _build
    - cmake -DCMAKE_BUILD_TYPE=Release ..
    - make package -j 4
  artifacts:
    paths:
      - _build/_package/*.tar.gz

mac:
  stage: build
  script:
    - mkdir _build
    - cd _build
    - cmake -G Xcode ..
    - cmake --build . --config Release --target package
  artifacts:
    paths:
      - _build/_package/*.zip
  tags:
    - mac
  allow_failure: true

windows:
  stage: build
  script:
    - mkdir _build
    - cd _build
    - cmake ..
    - cmake --build . --config Release --target PACKAGE -- /m
  artifacts:
    paths:
      - _build/_package/*.zip
  tags:
    - windows
  allow_failure: true
